datasetC.txt

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("datasetC.txt", delimiter='\t')

In [3]:
df.head(10)

                                        ID|y
0      d468a1f3b12a4fb28dfa957790c0688e|None
1  ed7cfb9186af49ec9a4671bbe0b494b0|articleC
2  bb5ce0943b044cf4a7161dbd47d993fa|articleB
3  e0aa58dd0d5a4dcab715c65f0b04aa31|articleA
4  eb8bf002681c4785822ae3c2c8afa00c|articleA
5      10fb6b0184364c38b15b9a0b1b785288|None
6      03e3a46edd60422095ffaeff47c2bd5b|None
7  3623fda9eb2f479a8f6abf02be22acb5|articleC
8  51640e4f1e1e4c14a98f0e2c9293fe5e|articleA
9  f62d772b73a5453a84f0cebbaf20887e|articleC

In [4]:
df.columns=['ID']

In [5]:
df=df['ID'].str.split('|',expand=True)

In [6]:
df.head(10)

                                  0         1
0  d468a1f3b12a4fb28dfa957790c0688e      None
1  ed7cfb9186af49ec9a4671bbe0b494b0  articleC
2  bb5ce0943b044cf4a7161dbd47d993fa  articleB
3  e0aa58dd0d5a4dcab715c65f0b04aa31  articleA
4  eb8bf002681c4785822ae3c2c8afa00c  articleA
5  10fb6b0184364c38b15b9a0b1b785288      None
6  03e3a46edd60422095ffaeff47c2bd5b      None
7  3623fda9eb2f479a8f6abf02be22acb5  articleC
8  51640e4f1e1e4c14a98f0e2c9293fe5e  articleA
9  f62d772b73a5453a84f0cebbaf20887e  articleC

In [7]:
print(df.index)

RangeIndex(start=0, stop=100000, step=1)

In [8]:
print(df.columns)

RangeIndex(start=0, stop=2, step=1)

In [9]:
print(df.columns.dtype)

int64

In [10]:
df.columns = df.columns.astype("object")

In [11]:
print(df.columns.dtype)

object

In [12]:
df1=df.rename(columns={'0':'ID', '1':'product'})

In [13]:
df1.head(10)

                                  0         1
0  d468a1f3b12a4fb28dfa957790c0688e      None
1  ed7cfb9186af49ec9a4671bbe0b494b0  articleC
2  bb5ce0943b044cf4a7161dbd47d993fa  articleB
3  e0aa58dd0d5a4dcab715c65f0b04aa31  articleA
4  eb8bf002681c4785822ae3c2c8afa00c  articleA
5  10fb6b0184364c38b15b9a0b1b785288      None
6  03e3a46edd60422095ffaeff47c2bd5b      None
7  3623fda9eb2f479a8f6abf02be22acb5  articleC
8  51640e4f1e1e4c14a98f0e2c9293fe5e  articleA
9  f62d772b73a5453a84f0cebbaf20887e  articleC

In [14]:
df1=df1.rename(columns={0:'ID', 1:'product'})

In [15]:
df1.head(10)

                                 ID   product
0  d468a1f3b12a4fb28dfa957790c0688e      None
1  ed7cfb9186af49ec9a4671bbe0b494b0  articleC
2  bb5ce0943b044cf4a7161dbd47d993fa  articleB
3  e0aa58dd0d5a4dcab715c65f0b04aa31  articleA
4  eb8bf002681c4785822ae3c2c8afa00c  articleA
5  10fb6b0184364c38b15b9a0b1b785288      None
6  03e3a46edd60422095ffaeff47c2bd5b      None
7  3623fda9eb2f479a8f6abf02be22acb5  articleC
8  51640e4f1e1e4c14a98f0e2c9293fe5e  articleA
9  f62d772b73a5453a84f0cebbaf20887e  articleC